            * {
  margin: 0;
}

html, body {
  height: 100%;
  width:100%;
  background-color: black;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position:fixed;
        display:inline-block;
        text-align:center;
}

li {
    list-style-type: none;
    display:inline-block;
    text-align:center;
    
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration:none;
    text-align:center;
}


.sect {
  height:100%;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sectOne {
  background-image: url("http://mistermartinez.github.io/image.jpg");
}

.sectTwo {
    background-image: url("http://mistermartinez.github.io/image1.jpg");
}

.center-div
{
  position: fixed;
  margin: 0;
  top: 306px;
  right: 0px;
  bottom: 0;
  left: 320px;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 0px;
}
