 #wrapper {
              height:88vh;
              width:100%;
              background-color:black;
              margin-top:6vh;
              margin-left:auto;
              margin-right:auto;
              
              
          }
          
   #img {
   
   width: 70%;
   height: 70%;
}
          
body {
    margin:0;
    background-color:black;
}

  #one {
      
      height:87vh;
      width:33vh;
      background-color:black;
      margin:20;
      
      display:inline-block;
  }
  
  #two {
      height:87vh;
      width:153vh;
      display:inline-block;
  }
  
  a {
      font-size:auto;
      font-family:garamond;
      color:white;
      text-decoration:none;
  }
  
  
