
#nav{ background-color: #222; position: fixed; width: 100%; top: 0; }
#nav-wrapper{ width: 960px; margin: 0 auto; text-align: left; }
#nav ul{ list-style-type: none; padding: 0; margin: 0; }
#nav ul li{ display: inline-block; }
#nav ul li:hover{ background-color: #333; }
#nav ul li a,visited{ color: #CCC; display: block; padding: 15px; text-decoration: none; }

html { 
    background: url(http://mistermartinez.github.io/image.jpg) no-repeat center center fixed #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 900px 512px;
}
