* {
  margin: 0;
}


html, body {
  height: 100%;
  background-color: black;
}



nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 99;
  text-align: center;
  font-family: garamond;
}

nav a {
      text-decoration: none;
      color: #fff;
      margin-left: 30px;
      line-height: 50px;
}

.sect {
  height:100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



.sectOne {
  background-image: url("mistermartinez.github.io/image.svg");
}

 
