* {
  margin: 0;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 20px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 99;
  text-align: center;
  font-family: garamond;
}

nav a {
      text-decoration: none;
      color: #fff;
      margin-left: 30px;
      line-height: 50px;
}

.sect {
  height:100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



.sectOne {
  background-image: url("mistermartinez.github.io/Image.svg");
}

