* {
  margin: 0;
}


html, body {
  height: 100%;
  background-color: black;
}

}
ul {
    list-style-type: none;
    margin: 70;
    padding: 0;
    overflow: hidden;
    background-color: black;
  text-align:center;
}
.active {

         text-decoration:underline;
     color:white;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
  text-decoration: none;
  
    
}

/* Change the link color to #111 (black) on hover */
li a:hover {
         text-decoration:underline;
     color:white;
}


nav a {
  text-align:center;
      text-decoration: none;
      color: #fff;
      margin-left: 60px;
      line-height: 50px;
       text-decoration:none;
}

.sect {
  height:100%;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}




.sectOne {
  background-image: url("mistermartinez.github.io/image.jpg");
}

 
