


#wrapper {
              height:90vh;
              width:190vh;
              background-color:black;
              margin-top:8vh;
              margin-left:auto;
             
             
             

              
              
          }
          
   #img {
   
   width: 70%;
   height: 70%;
}
          
body {
    margin:0;
  padding:0;
  overflow:hidden;
    background-color:black;
}

  #one {
      
      height:87vh;
      width:33vh;
      background-color:black;
      margin:20;
      
      display:inline-block;
  }
  
  #two {
      height:87vh;
      width:153vh;
      display:inline-block;
  }
  
  a {
      font-size:auto;
      font-family:garamond;
      color:white;
      text-decoration:none;
  }
  
