  
          
          #wrapper {
              height:auto;
              width:auto;
              background-color:black;
              margin-top:6vh;
              margin-left:auto;
              
              
          }
          #img {
   
   width: 100%;
   height: 100%;
}
          
body {
    margin:0;
    background-color:black;
}

  #one {
      
      height:87vh;
      width:33vh;
      background-color:black;
      margin:20;
      float:left;
      display:inline-block;
  }
  
  #two {
      height:87vh;
     /* width:153vh;*/
    width:auto;
      background-color:red;
      display:inline-block;
  }
  
  a {
      font-size:auto;
      font-family:garamond;
      color:white;
      text-decoration:none;
  }
  
  
