  
#nav{ background-color: black; position: fixed; width: 14%; top: 0; left: 0; }
#nav-wrapper{ width: 1500px; margin: 0 auto; text-align: left: relative;font-size:100%; }
#nav ul{ list-style-type: none; padding: 0; margin: 0; }
#nav ul li{ height: }
#nav ul li:hover{ background-color: #333; width: 13.5%; }
#nav ul li a,visited{ color: #CCC; padding: 7px; text-decoration: none; }


#info { 
    height: 41px; 
    position: fixed; 
    bottom:0%;
    position: ;
    width:100%; 
    background-color: black; 
    opacity: 1;
    left: 0%;
    color:white;
}
