
#nav{ background-color: black; position: fixed; width: 100%; top: 0; }
#nav-wrapper{ width: 1500px; margin: 0 auto; text-align: left: relative; }
#nav ul{ list-style-type: none; padding: 30; margin: 0; }
#nav ul li{ display: inline-block; }
#nav ul li:hover{ background-color: #333; }
#nav ul li a,visited{ color: #CCC; display: inline-block; padding: 15px; text-decoration: none; }

html { 
    background: url(http://mistermartinez.github.io/image.jpg) no-repeat center center fixed #000; 
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
}
