* {
  margin: 0;
}

body {
    background:url("mistermartinez.github.io/Image.svg") no-repeat 50% 0 fixed;
    margin: 0 auto;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 99;
  text-align: center;
  font-family: garamond;
}

nav a {
      text-decoration: none;
      color: #fff;
      margin-left: 30px;
      line-height: 50px;
}



 
