            * {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: black;
}

ul {
    margin: 30;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position:fixed;
}

li {
    list-style-type: none;
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration:none;  
}

.active{
  text-decoration:underline;
  color:white;
   }

.sect {
  height:100%;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sectOne {
  background-image: url("http://mistermartinez.github.io/image.jpg");
}

.sectTwo {
    background-image: url("http://mistermartinez.github.io/image1.jpg");
}

.center-div
{
  position: absolute;
  margin: absolute;
  top: 306px;
  right: 0px;
  bottom: 0;
  left: 315px;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 0px;
}
